<section class="list-barcodes" ng-controller="ConsumptionUsersController as controller">
  <div class="page-header">
    <h1>Barcodes</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-3" ng-repeat="user in users">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <span class="text-center col-xs-12" ng-bind="user.displayName"></span>
            </div>
            <div class="row">
              <div class="barcode-container col-xs-12">
                <div class="barcode-wrapper">
                  <img class="barcode col-xs-12" barcode ng-model="user.barcode"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
