<section ng-controller="ConsumptionUsersController as controller">
  <div class="page-header">
    <h1>Gebruikers</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Overzicht van gebruikers</div>
    <table class="table table-hover">
      <tr>
        <th>Naam</th>
        <th>Balans</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>
          <a ng-bind="user.displayName" ui-sref="consumption-users.view({barcode: user.barcode})"></a>
        </td>
        <td>{{user.balance | customCurrency : '€'}}</td>
      </tr>
    </table>
  </div>
</section>
